<a href="/post/{{id}}">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">{{mbid}}</p>
    </header>
    <div class="card-content">
      <div class="content">
        {{caption}}
        {{#if recommended}}
        <p><strong>Recommended: </strong> Yes</p>
        {{else}}
        <p><strong>Recommended: </strong> No</p>
        {{/if}}
        <br>
        - {{user.name}}
      </div>
    </div>
</div>
</a>