<div class="section">
  <div class="container">
    <h1 class="title">My Posts</h1>

    {{#if userPosts}}
    {{#each userPosts as |post|}}
    <a href="/post/{{id}}">
    <div class="card onePost">
      <section>
        <header class="card-header">
          <p class="card-header-title">{{post.mbid}}</p>
        </header>
        <div class="card-content">
          <div class="content">
            {{post.caption}}
            {{#if post.recommended}}
            <p><strong>Recommended: </strong> Yes</p>
            {{else}}
            <p><strong>Recommended: </strong> No</p>
            {{/if}}
            <br>
            - {{post.user.name}}
          </div>
        </div>
        {{/each}}
      </section>
    </div>
    </a>
    {{else}}
      <p>No posts available.</p>
    {{/if}}
  </div>
</div>
